.contests__grid {
  margin: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.contests__grid__item {
  width: 50%;
  position: relative;
  margin:0 6em 6em 0;
  padding: 30px;
  box-sizing: border-box; 
  flex-shrink: 1;
}
.contests__grid__item__haakBoven {
  background-image: url(../images/haak-boven.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 3em;
  height: 3em;
  right: 0;
}
.contests__grid__item__haakOnder {
  background-image: url(../images/haak-onder.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 3em;
  height: 3em;
  left: 0;
}
.contests__item__img {
  margin-top: 2em;
  width: 70%;
  max-width: 200px;
}
.contests__item__link {
  float: right;
  color: $regalblue;
  @include primary_font(1rem, 800);
  text-decoration: none;
}
.contests__item__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .contests__grid {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contests__grid__item {
    width: 37vw;
    margin: 0;
  }
}
@media screen and (max-width: 390px) {
  .contests__grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 4em 0;
  }
  .contests__grid__item {
    width: 100%;
    margin: 2em 0;
  }
}
