/* NIEUWS */
.nieuwsgrid{
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  color: #fff;



}

.nieuwsgrid a{
  color: #fff;
  text-decoration: none;
}

.nieuwsgrid .nieuwsgrid-cell{
  background: $regalblue;
  margin: 1px;
  text-decoration: none;
  height: 215px;
  flex: 0 1 calc(100% - 2px);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 25%;

  .nieuwsgrid__overlay
  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $regalblue;
    opacity: 0.8;
  }
}



.nieuws--post-date{
  font-size: 1rem;
}

.nieuws--post-title{
  @include primary_font(1.0rem, 400);
  height: 75px;
}

.nieuws--lees-meer{
  display: block;
  text-align: right;
  bottom: 40px;
  @include primary_font(1.1rem, 400);
}

.nieuwsgrid-cell-content{
  padding: 30px;
  position: relative;
  z-index: 9;
}

.nieuws--post-title{
  font-size: 1.3rem;
}

/* EVENTS */


/* PARTNER EVENTS */
.partner-events{
  margin-bottom: 80px;

  .grid
  {
    justify-content: flex-start;
  }
}

.partner-events a{
  color: $regalblue;
  text-decoration: none !important;
}

.partner-events h3{
  @include primary_font(1.4rem, 400);
  margin-top: 20px;
}

.offerings__infrastructure__grid__col__hook-up.hook-light path, .offerings__infrastructure__grid__col__hook-under.hook-light path{
  fill: #00a0d2;
}

.offerings__infrastructure__grid__col__title{
  text-decoration: none;
}



/* RESPONSIVE */
@media screen and (min-width: 768px){
  .nieuwsgrid .nieuwsgrid-cell{
    flex: 0 1 calc(50% - 2px);
  }

}

@media screen and (min-width: 960px){
  .nieuwsgrid .nieuwsgrid-cell{
    flex: 0 1 calc(25% - 2px);
  }
}



.single-event-date
{
  color: $dovegray;
  @include secondary_font(0.8rem, 400);
  margin-bottom: 20px;
  display: block;
}

.content
{
  padding-top: 50px;
  padding-bottom: 50px;
}