.partners__grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-top: 30px;
}
.partners__grid__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 18vw;
  margin-bottom: 2em;

  img
  {
    margin: 0 auto;
    display: block;
    max-width: 200px;
    max-height: 100px;
  }
}
@media screen and (max-width: 768px) {
  .partners__grid__item {
    width: 35vw;
  }
}
