.DS_Store
node_modules
.idea
wp-config.php

wp-content/themes/lcie/dist
wp-content/themes/lcie_subsite/dist
wp-content/themes/lcie/.sass-cache/*
wp-content/themes/lcie_subsite/.sass-cache/*
wp-content/themes/lcie/css/style.css.map
wp-content/themes/lcie_subsite/css/style.css.map
