@import "colors";
@import "fonts";

@import "modules/header";
@import "modules/footer";

@import "modules/homepage";
@import "modules/who";
@import "modules/offer";
@import "modules/projects";

body
{
	padding: 0;
	margin: 0;
}

h1
{
	@include secondary_font(2.2rem, 400);
	color: $curiousblue;
}

.no-scroll
{
	overflow: hidden;
}

.wrapper
{
	position: relative;
	display: block;
	margin: 0 auto;
	width: 80%;
	max-width: 1400px;
	height: 100%;
}

p {
	@include secondary_font(1.1rem, 300);
	line-height:2.0;
}

.grid
{
	display: flex;
}

.button
{
	color: white;
	padding: 15px 40px;
	display: inline-block;
	text-decoration: none;
	@include primary_font(1.1rem, 400);
}

.button--ghost
{
	@include primary_font(1.0rem, 700);
	background-color: transparent;
	color: white;
	border: 2px solid white;
}

.hook-under
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.hook-up
{
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	height: 100px;
}


@media screen and (max-width: 768px)
{
	.hook-under
	{
		width: 40px;
		height: 40px;
	}

	.hook-up
	{
		width: 40px;
		height: 40px;
	}
}
