@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
/* Clearfix
  ========================================================================== */
/* Border Radius
  ========================================================================== */
/* Opacity
  ========================================================================== */
/* Center-align a block level element
  ========================================================================== */
/* Text overflow
  ========================================================================== */
/* Absolute positioned
  ========================================================================== */
/* Cross browser inline block
  ========================================================================== */
/* Line Height
  ========================================================================== */
/* Hide Text
  ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:focus, a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0; }

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #43AADA;
  margin-bottom: 15px; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #43AADA;
  margin-bottom: 15px; }

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #43AADA;
  margin-bottom: 15px; }

a {
  color: #003E77; }
  a:hover {
    color: #43AADA; }

p, span {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2.0; }

.wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  height: 100%; }

.wrapper_full_text p {
  max-width: 960px; }

.grid {
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
  .grid.align-middle {
    -ms-flex-align: center;
        align-items: center; }
  .grid .col {
    width: 50%;
    -ms-flex-positive: 1;
        flex-grow: 1; }

.content {
  padding-top: 80px;
  padding-bottom: 80px; }

.hook-under {
  position: absolute;
  bottom: -3em;
  left: 0;
  width: 100px;
  height: 100px; }

.hook-up {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100px; }

.hook-up path, .hook-under path {
  fill: #003E77; }

@media screen and (max-width: 768px) {
  .hook-under {
    width: 40px;
    height: 40px; }
  .hook-up {
    width: 40px;
    height: 40px; }
  .grid {
    display: block; } }

.header {
  width: 100%;
  background-color: white;
  margin: 0;
  position: relative; }

.header__logo {
  width: 140px;
  height: 60px;
  background-image: url(../images/lcie.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px; }

.header__subnavigation {
  width: 100%;
  margin-top: 20px; }

.header__subnavigation ul:not(.header__subnavigation__icons) {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: right; }

.header__subnavigation ul li {
  display: inline-block;
  padding: 3px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: #b5bac1; }

.header__navigation {
  width: 70%;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right; }

.header__navigation ul {
  padding-bottom: 20px;
  padding-left: 0;
  margin: 0;
  list-style: none; }

.header__navigation ul li:not(.header__navigation__apply) {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #003E77;
  position: relative; }

.header__navigation ul li a {
  text-decoration: none;
  color: #003E77; }

.header__navigation ul li:not(.header__navigation__apply) a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background-color: #003E77;
  transition: all 0.1s ease-in-out; }

.header__navigation ul li:not(.header__navigation__apply) a:hover:before {
  width: 100%;
  transition: all 0.1s ease-in-out; }

.header__subnavigation ul li a {
  text-decoration: none;
  color: #b5bac1; }

.header__subnavigation__icons {
  display: inline-block;
  width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: right;
  text-transform: uppercase; }
  .header__subnavigation__icons li {
    padding-left: 10px  !important;
    padding-right: 10px !important; }

.header__subnavigation__icons__facebook, .header__subnavigation__icons__search, .header__subnavigation__icons__twitter {
  text-indent: -9999px;
  padding: 0 !important; }

.header__subnavigation__icons__search a {
  width: 20px;
  height: 20px;
  background-image: url(../images/sub_search.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 9999px;
  padding: 0 !important;
  position: relative;
  top: -3px;
  margin-right: 15px;
  display: block; }

.header__subnavigation__icons__facebook a {
  width: 20px;
  height: 20px;
  background-image: url(../images/sub_facebook.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 9999px;
  overflow: hidden;
  padding: 0 !important;
  position: relative;
  top: 5px;
  margin-right: 15px;
  display: block; }

.header__subnavigation__icons__twitter a {
  width: 20px;
  height: 20px;
  background-image: url(../images/sub_twitter.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: 9999px;
  padding: 0 !important;
  position: relative;
  top: 5px;
  display: block;
  overflow: hidden; }

.header__subnavigation__icons__linkedin a {
  width: 20px;
  height: 20px;
  background-image: url(../images/sub_linkedin.png);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: left center;
  text-indent: 9999px;
  padding: 0 !important;
  position: relative;
  top: 5px;
  display: block;
  overflow: hidden; }

.header__navigation__apply-container {
  padding: 0 !important;
  margin-left: 20px; }

.header__navigation__apply {
  padding: 10px 20px !important; }

.header__navigation__apply:hover a {
  color: white !important; }

.menu-subnavigatie-container, .menu-subnavigatie-engels-container {
  display: inline-block; }

/* Sidebar navigation */
.sidebar {
  width: 20%;
  margin-right: 5%; }

.sidebar ul {
  list-style: none;
  padding: 0; }

.sidebar ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 20px;
  color: gray;
  border-bottom: 1px solid black;
  text-decoration: none;
  width: 100%;
  display: block; }

@media screen and (max-width: 768px) {
  .header__hamburger {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    background-image: url(../images/menu.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999; }
  .header__hamburger--close {
    background-image: url(../images/close.svg); }
  .sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px; }
  .sidebar ul li a {
    text-align: center;
    box-sizing: border-box; }
  .header__logo {
    margin-top: 20px; }
  .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #003E77;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    padding-top: 100px;
    padding-left: 10%;
    box-sizing: border-box;
    overflow: auto;
    display: none; }
  .header__navigation ul li {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 0; }
  .header__subnavigation {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 300px;
    padding-top: 15px;
    display: none;
    margin-top: 70px; }
  .header__subnavigation:before {
    position: absolute;
    top: 0;
    left: 10%;
    height: 3px;
    background-color: white;
    width: 40px;
    content: " "; }
  .header__subnavigation__icons:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: white;
    width: 40px;
    content: " "; }
  .header__subnavigation ul li {
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    padding-left: 0;
    opacity: 0.8; }
  .header__subnavigation__icons {
    position: relative;
    padding-top: 20px !important;
    margin-top: 20px !important;
    text-align: left !important; }
  .header__subnavigation__icons li {
    display: inline-block !important;
    width: auto; }
  .header__navigation__apply-container {
    margin: 0;
    padding: 0; } }

.footer {
  width: 100%;
  background-color: #003E77;
  padding-top: 50px;
  padding-bottom: 50px; }
  .footer .button {
    background-color: transparent !important;
    color: white;
    border: 2px solid white;
    text-decoration: none; }
    .footer .button:hover {
      color: #003E77;
      background-color: white !important;
      text-decoration: none; }

.footer__grid__col {
  width: 33.3%;
  color: white; }

.footer__grid__col__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px; }

.footer__grid__col ul {
  list-style: none;
  padding: 0; }

.footer__grid__col ul li, .footer__grid__col ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 15px;
  display: block;
  color: #8D9EB0;
  text-decoration: none !important; }
  .footer__grid__col ul li:hover, .footer__grid__col ul li a:hover {
    text-decoration: underline; }

.footer__grid__col--big {
  text-align: right; }

.footer__bottom {
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.footer__bottom__content {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 30px; }
  .footer__bottom__content a {
    color: #8D9EB0;
    text-decoration: none !important; }
    .footer__bottom__content a:hover {
      text-decoration: underline; }

.footer__bottom__kuleuven {
  height: 30px;
  margin-left: 20px; }

footer a,
.footer__grid__col ul li a,
.footer__bottom__content ul li a {
  color: #8D9EB0;
  text-decoration: none !important; }

header .header__subnavigation a:hover,
header .header__subnavigation a:active,
header .header__subnavigation a:focus,
footer a:hover,
footer a:focus,
footer a:active,
.footer__grid__col ul li a:hover,
.footer__grid__col ul li a:focus,
.footer__grid__col ul li a:active,
.footer__bottom__content ul li a:hover,
.footer__bottom__content ul li a:focus,
.footer__bottom__content ul li a:active {
  text-decoration: underline !important; }

header a:hover,
header a:focus,
header a:active {
  text-decoration: none !important; }

a.button, footer a.button, footer a.button--ghost {
  text-decoration: none !important; }

@media screen and (max-width: 768px) {
  .footer__grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .footer__grid__col {
    width: 100%; }
  .footer__grid__col__title {
    margin-top: 30px;
    display: block; }
  .footer__grid__col--faq {
    display: none; }
  .footer .button {
    position: absolute;
    top: 20px;
    right: 20px; }
  .footer__bottom__content {
    display: none; }
  .footer__bottom__kuleuven {
    margin-top: 20px; }
  .footer__up {
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 50px;
    height: 50px;
    padding: 0 !important;
    background-image: url(../images/up.svg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center; } }

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #003E77; }
  .button:hover {
    color: white;
    background-color: #003E77;
    transition: all 0.1s ease-in-out; }

.button--ghost {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: 2px solid white; }
  .button--ghost:hover {
    color: #003E77;
    background-color: white;
    transition: all 0.1s ease-in-out; }

.back {
  position: relative;
  padding-left: 40px;
  color: #cccccc;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  text-decoration: none; }
  .back:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 30px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/back.png); }
  .back:hover {
    padding-left: 50px;
    transition: all 0.2s ease-in-out; }

.slick-slider {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  height: 100%; }

.swiper-slide {
  outline: none; }

.slick-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center; }

.slick-dots li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }
  .slick-dots li.slick-active button {
    background-color: #003E77; }

.slick-dots li button {
  height: 15px !important;
  width: 15px !important;
  border: 1px solid #003E77;
  background-color: transparent;
  border-radius: 100px;
  opacity: 1 !important;
  text-indent: -9999px;
  outline: none;
  cursor: pointer; }

.team-member {
  width: 30%;
  margin-top: 30px;
  margin-bottom: 30px; }
  .team-member.team-member--large {
    width: 50%; }
  @media screen and (max-width: 768px) {
    .team-member {
      width: 100%; } }
  .team-member .grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .team-member .grid .photo {
      min-width: 150px;
      height: 150px;
      background-size: cover;
      background-position: center; }
    .team-member .grid .details {
      padding-left: 30px;
      height: 150px;
      position: relative;
      box-sizing: border-box;
      width: 100%; }
    .team-member .grid .details__name {
      display: block;
      font-family: "Nunito", sans-serif;
      font-size: 1.1rem;
      font-weight: 400;
      color: #43AADA; }
    .team-member .grid .details__function {
      display: block;
      font-family: "Nunito", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: #666666;
      margin-top: 10px;
      line-height: 1.1;
      width: 90%; }
    .team-member .grid .details__contact {
      position: absolute;
      bottom: 0;
      left: 30px; }
    .team-member .grid .details__contact__mail {
      font-family: "Roboto", sans-serif;
      font-size: 0.8rem;
      font-weight: 400;
      color: #666666;
      text-decoration: none; }
    .team-member .grid .details__contact__social {
      margin-top: 5px; }
    .team-member .grid .details__contact__social__icon {
      width: 20px;
      height: 20px;
      background-position: center;
      background-repeat: no-repeat;
      display: inline-block;
      margin-right: 10px;
      opacity: 0.8;
      text-indent: -9999px; }
      .team-member .grid .details__contact__social__icon:hover {
        opacity: 1; }
      .team-member .grid .details__contact__social__icon.twitter {
        background-image: url(../images/team-social/twitter.png);
        background-size: 20px; }
      .team-member .grid .details__contact__social__icon.linkedin {
        background-image: url(../images/team-social/linkedin.png);
        background-size: 20px; }

.page__top {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #003E77;
  position: relative;
  background-size: cover;
  background-position: center; }

.page__top__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #003E77;
  opacity: 0.8; }

.page__top__title {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  z-index: 999; }

.page__top__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 999;
  margin-bottom: 0; }

.page__content {
  padding-top: 100px;
  padding-bottom: 100px; }

.home__hero {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background-size: cover;
  background-image: url(../images/bg.jpg);
  background-position: center;
  position: relative; }

.home__hero__overlay {
  background-color: #003E77;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.home__hero__content {
  position: relative;
  width: 100%; }

.home__hero__title {
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500; }

.home__hero__text {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.6;
  display: block;
  margin-bottom: 20px; }

.home__hero p a:-webkit-any-link {
  font-weight: 400;
  color: #fff; }

/* FOR WHO? */
.home__who {
  padding-top: 80px; }

.home__who__grid {
  background-color: #003E77;
  margin-top: 30px; }

.home__who__grid__col {
  width: 25%;
  border: 1px solid white;
  text-align: center;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  background-size: cover;
  background-position: center; }
  .home__who__grid__col a {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 999; }
    .home__who__grid__col a:hover {
      color: white; }

.home__who__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7; }

/* TEAMS SECTION */
.home__teams {
  padding-top: 100px;
  padding-bottom: 100px; }

.home__teams__all {
  position: absolute;
  top: 0;
  right: 0; }

.home__teams__grid {
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.home__teams__grid__col {
  width: 25%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  text-decoration: none; }

.home__teams__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 9; }

.home__teams__grid__col__logo {
  height: auto;
  position: relative;
  z-index: 999;
  max-width: 80%;
  max-height: 50px; }

.home__teams__grid__col__text {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 999;
  text-align: center; }

.home__teams__grid__col__readmore {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999; }

.home__teams__grid-small {
  width: 100%;
  margin-top: 50px;
  height: 60px; }

.swiper-wrapper {
  padding-left: 80px;
  padding-right: 80px;
  box-sizing: border-box; }

.home__teams__grid-small__slide {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.home__teams__grid-small__logo {
  height: auto;
  max-height: 60px;
  width: auto;
  max-width: 100%; }

.home__teams__grid__col {
  display: block; }

/* FACTS */
.home__facts__grid {
  background-color: #003E77;
  color: white; }

.home__facts__col {
  width: 25%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

.home__facts__col__number {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 4.8rem;
  font-weight: 400;
  margin-bottom: 20px; }

.home__facts__col__description {
  display: block;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 400; }

/* DIVISIONS */
.home__divisions {
  padding-bottom: 70px; }

.home__divisions__grid {
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.home__divisions__grid__col {
  width: 20%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  text-decoration: none; }
  .home__divisions__grid__col:hover {
    color: white;
    cursor: pointer; }

.home__divisions__grid__col__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 999; }

.home__divisions__grid__col__description {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 999; }

.home__divisions__grid__col__readmore {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999; }

.home__divisions__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: black;
  color: white; }

.home__divisions__all {
  position: absolute;
  top: 0;
  right: 0; }

/* TESTMONIALS */
.home__testmonials {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px; }

.home__testmonials__slider .swiper-wrapper {
  padding: 0; }

.home__testmonials__slide {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
  text-align: center; }

.home__testmonials__slide__name {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #666666;
  display: block;
  margin: 0 auto; }

.home__testmonials__slide__function {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666666;
  display: block;
  margin: 10px auto; }

.home__testmonials__slide__text {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
  display: block;
  margin: 20px auto; }

/* SWIPER */
.swiper-wrapper {
  padding: 0; }

.swiper-container {
  text-align: center; }

/* CALENDAR */
.home__calendar {
  padding-top: 70px;
  padding-bottom: 50px; }

.home__calendar__side {
  margin-top: 30px;
  width: 40%;
  background-color: #003E77;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 40px;
  box-sizing: border-box;
  position: relative; }

.home__calendar__photo {
  margin-top: 30px;
  width: 60%;
  height: 350px;
  background-size: cover;
  background-image: url(../images/home_bg3.png);
  background-position: center; }

.home__calendar__side__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: white; }

.home__calendar__side__text {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  line-height: 1.8;
  width: 80%; }

.home__calendar__side__more {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-decoration: none; }

.home__calendar__all {
  position: absolute;
  top: 0;
  right: 0; }

.home__calendar__side > div {
  display: block;
  width: 100%; }

a.home__calendar__side__more {
  display: block;
  text-align: right; }

@media screen and (min-width: 768px) {
  /* SWIPER */
  div.swiper-slide.home__teams__grid-small__slide.swiper-slide-active,
  div.swiper-wrapper > div {
    padding: 0;
    text-align: center;
    display: block;
    margin: 0 auto; }
  .swiper-container {
    text-align: center; }
  div.swiper-button-prev {
    padding: 0 20px 0 0;
    height: 20px;
    width: 20px;
    background-size: contain;
    margin-top: -10px; }
  div.swiper-button-next {
    padding: 0 0 0 20px;
    height: 20px;
    width: 20px;
    background-size: contain;
    margin-top: -10px; } }

@media screen and (max-width: 768px) {
  .grid {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; }
  .home__who__grid__col, .home__teams__grid__col, .home__divisions__grid__col, .home__facts__col {
    width: 100%; }
  .home__calendar__side {
    width: 100%;
    text-align: center; }
  .home__calendar__photo {
    display: none; }
  .home__calendar__all {
    position: relative; }
  .home__calendar__side__text {
    width: 100%; }
  .home__calendar__side__more {
    position: relative;
    bottom: auto;
    right: auto; }
  .home__teams__all {
    position: relative; }
  /* NAVIGATION */
  .menu-hoofdnavigatie-container {
    margin: 0;
    padding: 0; }
  .header__navigation ul li:not(.header__navigation__apply) {
    margin-left: 0;
    margin-right: 0; }
  .menu-item-type-post_type a {
    padding: 3px 0;
    font-size: 1.15rem;
    display: block; }
  li.menu-item {
    padding: 0 !important; }
  .header__navigation ul li a {
    display: inline-block !important;
    width: 100%;
    color: white !important;
    font-size: 1.3rem;
    padding: 6px 0; }
  .header__navigation__apply {
    padding: 10px 0 !important; }
  .header__subnavigation ul {
    text-align: left !important; }
  .menu-item-type-custom {
    display: inline-block;
    float: left; }
  .menu-item-type-custom {
    display: none !important; }
  .header__subnavigation__icons {
    display: block; }
  .header__navigation {
    padding-top: 80px;
    overflow: hidden; }
  .header__subnavigation {
    top: 240px; } }

.for__bubble__grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 80px; }

.for__bubble__grid__col {
  background-color: #003E77;
  padding: 70px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  width: 20%;
  position: relative;
  text-decoration: none; }

.for__bubble__grid__col:after {
  content: '';
  bottom: -20px;
  position: absolute;
  left: 0px;
  border-left: 20px solid #003E77;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; }

.for__section__subtitle {
  margin: 40px 0px; }

.for__offer__grid__item:nth-child(odd) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px 0px 40px 0px; }

.for__offer__grid__item:nth-child(odd) .item__detail {
  margin-left: 40px; }

.for__offer__grid__item:nth-child(even) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 0px 0px 40px 0px; }

.for__offer__grid__item:nth-child(even) .item__detail {
  margin-right: 40px; }

.item__detail {
  width: calc(100% - 340px); }

.item__image {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #003E77;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }

.item__image h3 {
  position: relative;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  z-index: 999;
  margin: 0; }

.item__image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7; }

@media screen and (max-width: 768px) {
  .for__bubble__grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .for__bubble__grid__col {
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    margin-bottom: 40px; }
  .for__offer__grid__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column !important;
        flex-direction: column !important;
    margin: 0px 0px 20px 0px; }
  .for__offer__grid__item .item__detail {
    margin-left: 0px !important;
    margin-right: 0px !important; }
  .item__detail {
    width: 100%; }
  .item__image {
    margin: 10px auto;
    width: 100%; } }

.documentation__nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin: 2em auto 4em auto; }

.documentation__nav__item {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  color: #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  width: 17%; }

.documentation__nav__item__active {
  color: white;
  background-color: #003E77; }

.documentation__article__grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 100%;
      flex: 1 100%;
  -ms-flex-direction: row;
      flex-direction: row;
  width: 100%;
  margin: 2em auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.documentation__article__item {
  margin-bottom: 3em;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  height: 250px;
  display: inline-block;
  box-sizing: border-box;
  padding: 12px 20px;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  color: #003E77; }
  .documentation__article__item h2 {
    color: #003E77;
    text-align: center; }
  .documentation__article__item p {
    color: #111a21;
    text-align: center; }
  .documentation__article__item a {
    margin-top: 2em;
    color: #111a21;
    text-decoration: none;
    float: right;
    position: absolute;
    bottom: 15px;
    right: 15px; }

.documentation__article__item:nth-child(4n + 1) {
  margin-left: 0;
  width: calc(25% - 10px); }

.documentation__article__item:nth-child(4n) {
  margin-right: 0;
  width: calc(25% - 10px); }

.documentation__article__grid__loading {
  height: 50px;
  width: 50px;
  background-image: url(../images/loading.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 30px auto; }

@media screen and (max-width: 768px) {
  .documentation__nav, .documentation__article__grid {
    display: block; }
  .documentation__nav__item {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px; }
  .documentation__article__item {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0; }
  .documentation__article__item:nth-child(4n + 1) {
    width: 100%; }
  .documentation__article__item:nth-child(4n) {
    width: 100%; } }

.contact__form {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px; }
  .contact__form label {
    display: block;
    margin-bottom: 20px;
    margin-top: 30px;
    font-family: "Nunito", sans-serif;
    font-size: 1.1rem;
    font-weight: 300; }
  .contact__form .textfield, .contact__form .dropdown {
    display: block;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #003E77;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400; }
  .contact__form .textarea {
    display: block;
    width: 100%;
    height: 70%;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #003E77;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    resize: none; }
  .contact__form .dropdown {
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0;
    background-image: url(../dist/images/arrow_down.png);
    background-size: 20px;
    background-position: center right 20px;
    background-repeat: no-repeat; }

.contact__form__grid {
  width: 100%;
  display: -ms-flexbox;
  display: flex; }

.contact__form__grid__col {
  width: 100%;
  padding-left: 40px;
  box-sizing: border-box; }

.contact__form__grid__col--small {
  width: 40%;
  padding-right: 40px;
  padding-left: 0; }

.contact__form__title, .contact__location__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  color: #111a21;
  margin-top: 30px; }

.contact__form__submit {
  background-color: white;
  display: inline-block;
  width: auto;
  float: right; }

.contact__form__feedback {
  display: none;
  padding: 20px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400; }

.contact__form__feedback--error {
  background-color: #F2DEDE;
  color: #A94442; }

.contact__form__feedback--pass {
  background-color: #DFF0D8;
  color: #3C763D; }

.contact__location__grid__col, .contact__team__grid__col {
  width: 25%;
  padding: 20px;
  box-sizing: border-box; }

.contact__location__mail {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #43AADA; }

.contact__team {
  padding-top: 100px;
  padding-bottom: 100px; }

.contact__team__grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.contact__team__grid__col {
  display: -ms-flexbox;
  display: flex; }

.contact__team__details {
  padding-left: 20px; }

@media screen and (max-width: 768px) {
  .contact__form__grid__col {
    width: 100%;
    padding: 0; }
    .contact__form__grid__col textarea {
      height: 200px !important; }
  .contact__location__grid__col {
    width: 100%; } }

@media screen and (min-width: 768px) {
  .contact__form__grid__col--small {
    min-width: 350px; } }

.courses__content {
  position: relative;
  display: block;
  margin: 3em auto 3em;
  padding: 50px;
  width: 80%;
  max-width: 1600px;
  height: 100%; }

.courses__sidebar {
  width: 20%;
  margin: .5em 0em; }

.courses__sidebar ul {
  list-style: none;
  padding: 0; }

.courses__sidebar ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 20px;
  color: gray;
  border-bottom: 1px solid black;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box; }

.courses__sidebar__active {
  color: #43AADA !important; }

.courses__intro {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.courses__intro__text {
  width: 70%;
  padding: 50px; }

.apply__form {
  width: 75%;
  margin: 5em auto 7em auto;
  box-sizing: border-box;
  position: relative; }
  .apply__form h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    color: #43AADA; }

.apply__form__input {
  display: inline-block;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: .5em;
  margin-bottom: 1em; }

.apply__form__submit {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: #003E77; }

.apply__hook__top {
  background-image: url(../images/haak-boven.svg);
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  position: absolute;
  right: 7.5%; }

.apply__hook__bottom {
  background-image: url(../images/haak-onder.svg);
  background-repeat: no-repeat;
  height: 5em;
  width: 5em;
  position: absolute;
  margin-top: -3em;
  left: 7.5%; }

.wpcf7 {
  padding: 70px !important; }

@media screen and (max-width: 768px) {
  .wpcf7 {
    width: 100%;
    padding: 0px !important;
    padding-bottom: 40px !important; } }

.offerings__top {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #003E77; }

.offerings__top__title {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0; }

.offerings__top__subtitle {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: white; }

/* Sidebar */
.offerings__sidebar {
  width: 20%;
  margin-right: 5%; }

.offerings__sidebar ul {
  list-style: none;
  padding: 0; }

.offerings__sidebar ul li a {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 20px;
  color: gray;
  border-bottom: 1px solid black;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box; }

.offerings__sidebar ul li:last-child a {
  border-bottom: none; }

.offerings__sidebar__active {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  padding: 20px;
  color: #43AADA;
  border-bottom: 1px solid black;
  text-decoration: none;
  width: 100%;
  display: block;
  box-sizing: border-box; }

.offerings__container .wrapper {
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px; }

.offerings__content {
  padding-left: 100px;
  box-sizing: border-box;
  width: 70%; }

.offerings__who {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px; }

.offerings__who__grid {
  width: 100%; }

.offerings__who__grid__col {
  width: 25%;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  border-right: 8px solid white;
  position: relative;
  background-size: cover;
  background-position: center;
  display: block;
  text-decoration: none; }
  .offerings__who__grid__col span {
    color: white;
    text-decoration: none;
    position: relative;
    z-index: 999; }

.offerings__who__grid__col:last-child {
  border: none; }

.offerings__who__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7; }

.offerings__subsites__grid__col {
  width: 25%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: red;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative;
  text-decoration: none; }

.offerings__subsites__grid__col__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 999; }

.offerings__subsites__grid__col__description {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  position: relative;
  z-index: 999; }

.offerings__subsites__grid__col__more {
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999; }

.offerings__subsites__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.offerings__team {
  margin-top: 100px;
  margin-bottom: 100px; }

.offerings__team__grid {
  width: 100%;
  margin-top: 40px;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.offerings__content-block {
  padding-top: 100px;
  padding-bottom: 100px; }
  .offerings__content-block p, .offerings__content-block span {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400; }
  .offerings__content-block img {
    max-width: 100%; }

.offerings__infrastructure {
  margin-top: 100px;
  margin-bottom: 100px; }

.offerings__infrastructure__grid__col__image {
  width: 100%;
  height: 150px;
  object-fit: cover; }

.marker-title {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 20px; }

.marker-address {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #666666;
  margin-left: 20px; }

.marker-img {
  width: 150px;
  margin-right: 15px; }

.marker-col {
  width: 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.offerings__infrastructure__text, .offerings__team__text {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  width: 100%;
  max-width: 900px;
  margin-top: 20px;
  margin-bottom: 60px; }

.offerings__infrastructure__map {
  width: 100%;
  height: 500px; }

.offerings__infrastructure__grid {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 80px; }

.offerings__infrastructure__grid__col {
  position: relative;
  width: 30%;
  padding: 50px;
  box-sizing: border-box; }

.offerings__infrastructure__grid__col__title {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #003E77; }

.offerings__infrastructure__grid__col__plan {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400; }

.offerings__infrastructure__grid__col__hook-up, .offerings__infrastructure__grid__col__hook-under {
  height: 40px !important;
  width: 40px !important; }

.offerings__infrastructure__grid__col__hook-under {
  bottom: 0 !important; }

.offerings__infrastructure__grid__col__hook-up path, .offerings__infrastructure__grid__col__hook-under path {
  fill: #43AADA; }

.offerings__sidebar ul li a, a.offerings__infrastructure__grid__col__plan {
  text-decoration: none;
  color: #003E77;
  font-weight: bold; }

@media screen and (max-width: 768px) {
  .offerings__sidebar {
    width: 100%;
    margin-right: 0; }
  .offerings__container .wrapper {
    display: block; }
  .offerings__content {
    padding-left: 0;
    width: 100%;
    margin-top: 70px; }
    .offerings__content p, .offerings__content span {
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      font-weight: 400; }
  .offerings__who__grid__col {
    width: 100%;
    border-right: none;
    border-bottom: 8px solid white; }
  .offerings__who__grid__col:last-child {
    border: none; }
  .offerings__subsites__grid__col {
    width: 100%; }
  .offerings__team__grid__col {
    width: 100%;
    min-width: auto;
    max-width: auto; }
  .offerings__team__grid__col__photo {
    width: 80%;
    max-width: 80%;
    margin-left: 10%; }
  .offerings__team__grid__col__details {
    margin-left: 0;
    height: auto;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px; }
  .offerings__team__grid__col__details__contact {
    position: relative;
    margin-top: 30px; }
  .offerings__infrastructure__grid__col {
    width: 100%; } }

.teams__content__grid {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center; }

.teams__content__grid__col {
  width: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  height: 200px;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center; }
  .teams__content__grid__col a {
    text-decoration: none; }
  .teams__content__grid__col .teams__content__grid__col__image {
    width: 80%;
    max-width: 200px;
    height: auto;
    display: inline-block; }

.teams__content__grid__col__image {
  width: auto;
  max-height: 200px;
  display: block; }

.teams__content__grid__col__more {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #666666;
  width: 100%;
  display: block;
  margin-top: 40px;
  text-decoration: none; }

.teams__pastprojects {
  margin-top: 100px;
  margin-bottom: 100px; }

.teams__pastprojects__expand {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #43AADA;
  text-decoration: none;
  position: relative; }

.teams__pastprojects__expand:after {
  content: '';
  position: absolute;
  right: -60px;
  bottom: -4px;
  width: 50px;
  height: 50px;
  background-image: url(../dist/images/arrow_down.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat; }

.teams__pastprojects__expand--expanded:after {
  background-image: url(../dist/images/arrow_up.png); }

.teams__pastprojects__expand:hover {
  text-decoration: underline; }

.teams__pastprojects__year {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #43AADA;
  margin-top: 70px;
  margin-bottom: 40px; }

.teams__pastprojects__grid {
  width: 100%; }

.teams__pastprojects__grid__col {
  width: 25%;
  padding-top: 20px;
  padding-bottom: 20px; }

.teams__pastprojects__grid__col__logo {
  width: 100%;
  max-width: 300px;
  max-height: 200px; }

/* TEAM DETAIL */
.team__top {
  margin-top: 100px;
  margin-bottom: 100px; }

.team__top__photo {
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding-right: 50px;
  width: 50%;
  box-sizing: border-box; }

.team__info__intro {
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8; }

.team__top__allteams {
  width: 250px;
  height: 400px; }

.team__top__allteams__item {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-indent: 9999px;
  padding-bottom: 7px;
  padding-top: 7px;
  text-decoration: none;
  transition: all 0.1s ease-in-out; }

.team__top__allteams__item--active {
  text-indent: 0px;
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  color: #43AADA;
  transition: all 0.1s ease-in-out; }

.team__top__allteams__item--active:after {
  width: 100% !important;
  transition: all 0.1s ease-in-out; }

.team__top__allteams__item:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: 2px;
  background-color: #666666;
  transition: all 0.1s ease-in-out; }

.team__info__logo {
  width: 30%; }

.team__info {
  margin-top: 100px;
  margin-bottom: 100px; }

.team__info__logo__image {
  width: 70%;
  max-width: 200px;
  margin-top: 36px; }

.team__info__text {
  width: 50%;
  margin-left: 20%; }

.team__info__text__social {
  margin-top: 20px;
  display: -ms-flexbox;
  display: flex; }

.team__info__text__social__item {
  width: 25px;
  height: 25px;
  margin-right: 20px; }

.team__top__photo__image {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center top;
  padding: 0;
  margin-top: 20px; }

.team__info__text__social__item--website {
  background-image: url("../images/team-social/link.png");
  background-size: contain; }

.team__info__text__social__item--facebook {
  background-image: url("../images/team-social/facebook.png");
  background-size: contain; }

.team__info__text__social__item--twitter {
  background-image: url("../images/team-social/twitter.png");
  background-size: contain; }

.team__info__text__social__item--linkedin {
  background-image: url("../images/team-social/linkedin.png");
  background-size: contain; }

.team__info__text__social__item--youtube {
  background-image: url("../images/team-social/youtube.png");
  background-size: contain; }

.team__happenings {
  margin-top: 100px;
  margin-bottom: 100px; }

.team__happenings h1 {
  margin-bottom: 50px; }

.team__happenings__grid:nth-child(odd) {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }

.team__happenings__grid__col {
  width: 50%;
  padding: 50px;
  box-sizing: border-box;
  position: relative; }

.team__happenings__grid__col__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #43AADA; }

.team__happenings__grid__col--image {
  height: 400px;
  background-color: black;
  background-size: cover;
  background-position: center; }

.team__happenings__grid__col--image__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6; }

.team__top__back {
  margin-bottom: 15px; }

@media screen and (max-width: 768px) {
  .teams__content__grid__col {
    width: 100%; }
  .teams__pastprojects__grid__col {
    width: 50%; }
  /* TEAM DETAIL */
  .team__top__photo {
    width: 100%;
    padding: 0; }
  .team__top__photo__image {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 0; }
  .team__top__allteams {
    display: none; }
  .team__info__logo {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
    margin-top: 60px; }
  .team__info__logo__image {
    width: 100%;
    margin-top: 50px; }
  .team__info__text {
    width: 100%;
    margin: 0; }
  .team__happenings__grid__col {
    width: 100%;
    padding-left: 0;
    padding-right: 0; }
  .team__top .wrapper {
    width: 100%; }
  .team__top {
    margin-top: 0; }
  .teams__pastprojects__expand {
    font-family: "Nunito", sans-serif;
    font-size: 1.8rem;
    font-weight: 400; }
  .teams__pastprojects__expand:after {
    background-size: 30px; } }

.faq__content {
  margin-top: 100px;
  margin-bottom: 100px; }

.faq__content__category {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 70px;
  padding-left: 30px;
  padding-right: 30px; }

.faq__content__category__hook-up, .faq__content__category__hook-under {
  width: 40px !important;
  height: 40px !important; }

.faq__content__category__hook-up path, .faq__content__category__hook-under path {
  fill: #003E77; }

.faq__content__item {
  padding-top: 30px;
  padding-bottom: 30px; }

.faq__content__item__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  color: #003E77; }

article.search__results__result {
  width: 75%; }

.search__form {
  display: -ms-flexbox;
  display: flex; }

.search__results__title {
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #003E77;
  margin-top: 50px;
  margin-bottom: 20px; }

.search__results__count {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #666666;
  margin-bottom: 40px; }

.search__results__result {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid gray; }

.search__results__result__type {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #666666;
  margin-bottom: 15px; }

.search__results__result__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #003E77;
  margin-bottom: 15px;
  display: block;
  text-decoration: none; }

.search__results__result__date {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700; }

.search__form input {
  max-width: 500px !important; }

.search__form__input {
  width: calc(100% - 100px);
  font-size: 1.1rem;
  display: inline-block;
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0;
  border: 2px solid #003E77; }

.search__form__button {
  width: 64px;
  height: 50px;
  background-color: #003E77;
  display: inline-block;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  box-shadow: none;
  border: none;
  background-image: url(../images/sub_search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  cursor: pointer; }

.partners__grid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3em;
  margin-top: 30px; }

.partners__grid__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 18vw;
  margin-bottom: 2em; }
  .partners__grid__item img {
    margin: 0 auto;
    display: block;
    max-width: 200px;
    max-height: 100px; }

@media screen and (max-width: 768px) {
  .partners__grid__item {
    width: 35vw; } }

/* NIEUWS */
.nieuwsgrid {
  margin-top: 60px;
  font-family: "Roboto", sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  position: relative;
  color: #fff; }

.nieuwsgrid a {
  color: #fff;
  text-decoration: none; }

.nieuwsgrid .nieuwsgrid-cell {
  background: #003E77;
  margin: 1px;
  text-decoration: none;
  height: 215px;
  -ms-flex: 0 1 calc(100% - 2px);
      flex: 0 1 calc(100% - 2px);
  background-size: cover;
  background-position: center;
  position: relative; }
  .nieuwsgrid .nieuwsgrid-cell .nieuwsgrid__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #003E77;
    opacity: 0.8; }

.nieuws--post-date {
  font-size: 1rem; }

.nieuws--post-title {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  height: 75px; }

.nieuws--lees-meer {
  display: block;
  text-align: right;
  bottom: 40px;
  font-family: "Nunito", sans-serif;
  font-size: 1.1rem;
  font-weight: 400; }

.nieuwsgrid-cell-content {
  padding: 30px;
  position: relative;
  z-index: 9; }

.nieuws--post-title {
  font-size: 1.3rem; }

/* EVENTS */
/* PARTNER EVENTS */
.partner-events {
  margin-bottom: 80px; }
  .partner-events .grid {
    -ms-flex-pack: start;
        justify-content: flex-start; }

.partner-events a {
  color: #003E77;
  text-decoration: none !important; }

.partner-events h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 20px; }

.offerings__infrastructure__grid__col__hook-up.hook-light path, .offerings__infrastructure__grid__col__hook-under.hook-light path {
  fill: #00a0d2; }

.offerings__infrastructure__grid__col__title {
  text-decoration: none; }

/* RESPONSIVE */
@media screen and (min-width: 768px) {
  .nieuwsgrid .nieuwsgrid-cell {
    -ms-flex: 0 1 calc(50% - 2px);
        flex: 0 1 calc(50% - 2px); } }

@media screen and (min-width: 960px) {
  .nieuwsgrid .nieuwsgrid-cell {
    -ms-flex: 0 1 calc(25% - 2px);
        flex: 0 1 calc(25% - 2px); } }

.single-event-date {
  color: #666666;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 20px;
  display: block; }

.content {
  padding-top: 50px;
  padding-bottom: 50px; }

.contests__grid {
  margin: 4em 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.contests__grid__item {
  width: 50%;
  position: relative;
  margin: 0 6em 6em 0;
  padding: 30px;
  box-sizing: border-box;
  -ms-flex-negative: 1;
      flex-shrink: 1; }

.contests__grid__item__haakBoven {
  background-image: url(../images/haak-boven.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 3em;
  height: 3em;
  right: 0; }

.contests__grid__item__haakOnder {
  background-image: url(../images/haak-onder.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 3em;
  height: 3em;
  left: 0; }

.contests__item__img {
  margin-top: 2em;
  width: 70%;
  max-width: 200px; }

.contests__item__link {
  float: right;
  color: #003E77;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none; }

.contests__item__link:hover {
  text-decoration: underline; }

@media screen and (max-width: 768px) {
  .contests__grid {
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .contests__grid__item {
    width: 37vw;
    margin: 0; } }

@media screen and (max-width: 390px) {
  .contests__grid {
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 4em 0; }
  .contests__grid__item {
    width: 100%;
    margin: 2em 0; } }

.single-infrastructure .infrastructure__contact {
  position: relative; }
  .single-infrastructure .infrastructure__contact .acf-map {
    width: 100%;
    height: 500px; }
  .single-infrastructure .infrastructure__contact .infrastructure__contact__block {
    padding: 20px 40px;
    background-color: #003E77;
    color: white;
    position: absolute;
    top: 50%;
    right: 10%;
    min-width: 250px;
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%); }
    .single-infrastructure .infrastructure__contact .infrastructure__contact__block h2 {
      color: white; }
    .single-infrastructure .infrastructure__contact .infrastructure__contact__block .infrastructure__contact__block__image {
      height: 100px;
      width: 100%;
      background-color: red; }

.about__container {
  display: -ms-flexbox;
  display: flex; }

.about__team__grid__col {
  width: 50%; }
