@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.header {
  width: 100%;
  background-color: white;
  margin: 0;
  position: relative; }

.header__logo {
  width: 140px;
  height: 60px;
  background-image: url(../images/lcie.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px; }

.header__subnavigation {
  width: 100%;
  margin-top: 20px; }

.header__subnavigation ul {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0;
  margin: 0;
  list-style: none;
  width: 100%;
  text-align: right; }

.header__subnavigation ul li {
  display: inline-block;
  padding: 3px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 700;
  color: #b5bac1; }

.header__navigation {
  width: 70%;
  position: absolute;
  right: 0;
  bottom: 0;
  text-align: right; }

.header__navigation ul {
  padding-bottom: 20px;
  padding-left: 0;
  margin: 0;
  list-style: none; }

.header__navigation ul li {
  display: inline-block;
  padding: 10px 20px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #003E77; }

.header__navigation__apply-container {
  padding: 0 !important;
  margin-left: 20px; }

.header__navigation__apply {
  padding: 10px 20px !important; }

@media screen and (max-width: 768px) {
  .header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #003E77;
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    padding-top: 100px;
    padding-left: 10%;
    box-sizing: border-box;
    overflow: auto; }

  .header__navigation ul li {
    color: white;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    display: block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    padding-left: 0; }

  .header__subnavigation {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 300px;
    padding-top: 15px; }

  .header__subnavigation:before {
    position: absolute;
    top: 0;
    left: 10%;
    height: 3px;
    background-color: white;
    width: 40px;
    content: " "; }

  .header__subnavigation__languages:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: white;
    width: 40px;
    content: " "; }

  .header__subnavigation ul li {
    color: white;
    display: block;
    text-align: left;
    margin-bottom: 10px;
    font-family: "Nunito", sans-serif;
    font-size: 1rem;
    font-weight: 900;
    padding-left: 0;
    opacity: 0.8; }

  .header__subnavigation__languages {
    position: relative;
    padding-top: 20px !important;
    margin-top: 20px !important;
    text-align: left !important; }

  .header__subnavigation__languages li {
    display: inline-block !important;
    width: auto; } }
.footer {
  width: 100%;
  background-color: #003E77;
  padding-top: 50px;
  padding-bottom: 50px; }

.footer__grid__col {
  width: 33.3%;
  color: white; }

.footer__grid__col__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px; }

.footer__grid__col ul {
  list-style: none;
  padding: 0; }

.footer__grid__col ul li {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-bottom: 15px; }

.footer__grid__col--big {
  text-align: right; }

.footer__bottom {
  justify-content: space-between;
  align-items: center; }

.footer__bottom__content {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 30px; }

.footer__bottom__kuleuven {
  width: auto;
  height: 30px; }

@media screen and (max-width: 768px) {
  .footer__grid__col {
    width: 100%; }

  .footer__grid__col__title {
    margin-top: 30px;
    display: block; } }
.home__hero {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative; }

.home__hero__overlay {
  background-color: #003E77;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.home__hero__content {
  position: relative;
  width: 100%; }

.home__hero__title {
  color: white;
  font-size: 1.8rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500; }

.home__hero__text {
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6;
  display: block;
  margin-bottom: 20px; }

/* FOR WHO? */
.home__who {
  padding-top: 80px; }

.home__who__grid {
  background-color: #003E77;
  background-image: url(../images/home__bg2.png);
  background-size: cover;
  background-position: center;
  margin-top: 30px; }

.home__who__grid__col {
  width: 25%;
  border: 1px solid white;
  padding-top: 90px;
  padding-bottom: 90px;
  text-align: center;
  color: white;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 700; }

/* TEAMS SECTION */
.home__teams {
  padding-top: 100px;
  padding-bottom: 100px; }

.home__teams__all {
  position: absolute;
  top: 0;
  right: 0; }

.home__teams__grid {
  margin-top: 40px; }

.home__teams__grid__col {
  width: 25%;
  flex-grow: 1;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: red;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; }

.home__teams__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  z-index: 9; }

.home__teams__grid__col__logo {
  height: 40px;
  filter: brightness(10) contrast(10) grayscale(1);
  position: relative;
  z-index: 999; }

.home__teams__grid__col__text {
  font-size: 1.2rem;
  color: white;
  position: relative;
  z-index: 999;
  text-align: center; }

.home__teams__grid__col__readmore {
  font-size: 1.0rem;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999; }

.home__teams__grid-small {
  width: 100%;
  margin-top: 50px; }

.home__teams__grid-small__logo {
  height: 60px; }

/* FACTS */
.home__facts__grid {
  background-color: #003E77;
  color: white; }

.home__facts__col {
  width: 25%;
  flex-grow: 1;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center; }

.home__facts__col__number {
  display: block;
  font-size: 4.8rem;
  margin-bottom: 20px; }

.home__facts__col__description {
  display: block;
  font-size: 1.2rem; }

/* DIVISIONS */
.home__divisions {
  padding-bottom: 70px; }

.home__divisions__grid {
  margin-top: 40px; }

.home__divisions__grid__col {
  width: 25%;
  flex-grow: 1;
  padding-top: 150px;
  padding-bottom: 150px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;
  background-color: red;
  background-size: cover;
  background-position: center;
  text-align: center;
  position: relative; }

.home__divisions__grid__col__title {
  font-size: 1.6rem;
  color: white;
  position: relative;
  z-index: 999; }

.home__divisions__grid__col__description {
  font-size: 1.0rem;
  color: white;
  position: relative;
  z-index: 999; }

.home__divisions__grid__col__readmore {
  font-size: 1.1rem;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 999; }

.home__divisions__grid__col__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: black; }

.home__divisions__all {
  position: absolute;
  top: 0;
  right: 0; }

/* CALENDAR */
.home__calendar {
  padding-top: 70px;
  padding-bottom: 50px; }

.home__calendar__side {
  margin-top: 30px;
  width: 40%;
  background-color: #003E77;
  display: flex;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  position: relative; }

.home__calendar__photo {
  margin-top: 30px;
  width: 60%;
  height: 350px;
  background-image: url(../images/home_bg3.png);
  background-size: cover;
  background-position: center; }

.home__calendar__side__title {
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  color: white; }

.home__calendar__side__text {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  line-height: 1.8;
  width: 80%; }

.home__calendar__side__more {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
  position: absolute;
  bottom: 40px;
  right: 40px;
  text-decoration: none; }

.home__calendar__all {
  position: absolute;
  top: 0;
  right: 0; }

@media screen and (max-width: 768px) {
  .grid {
    flex-wrap: wrap;
    width: 100%; }

  .home__who__grid__col, .home__teams__grid__col, .home__divisions__grid__col, .home__facts__col {
    width: 100%; }

  .home__calendar__side {
    width: 100%;
    text-align: center; }

  .home__calendar__photo {
    display: none; } }
.for__bubble__grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px; }

.for__bubble__grid__col {
  background-color: #003E77;
  padding: 40px 20px;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  width: 20%;
  position: relative;
  text-decoration: none; }

.for__bubble__grid__col:after {
  content: '';
  bottom: -20px;
  position: absolute;
  left: 0px;
  border-left: 20px solid #003E77;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; }

.for__section__subtitle {
  margin: 40px 0px; }

.for__offer__grid__item:nth-child(odd) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 0px 40px 0px; }

.for__offer__grid__item:nth-child(odd) .item__detail {
  margin-left: 40px; }

.for__offer__grid__item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin: 0px 0px 40px 0px; }

.for__offer__grid__item:nth-child(even) .item__detail {
  margin-right: 40px; }

.item__detail {
  width: calc(100% - 340px); }

.item__image {
  background-size: contain;
  position: relative;
  width: 300px;
  height: 200px;
  background-color: #003E77; }

.item__image h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0px;
  color: white; }

@media screen and (max-width: 768px) {
  .for__bubble__grid {
    display: flex;
    flex-direction: column; }

  .for__bubble__grid__col {
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    margin-bottom: 40px; }

  .for__offer__grid__item {
    display: flex;
    flex-direction: column !important;
    margin: 0px 0px 20px 0px; }

  .for__offer__grid__item .item__detail {
    margin-left: 0px !important;
    margin-right: 0px !important; }

  .item__detail {
    width: 100%; }

  .item__image {
    margin: 0px auto; } }
.documentation__nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  margin: 2em auto 4em auto; }

.documentation__nav__item {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  color: #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  width: 17%; }

.documentation__nav__item__active {
  color: white;
  background-color: #003E77; }

.documentation__article__grid {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  width: 80%;
  margin: 2em auto;
  justify-content: space-between;
  flex-wrap: wrap; }

.documentation__article__item {
  margin-bottom: 3em;
  width: 17%;
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #003E77; }
  .documentation__article__item h2 {
    color: #003E77;
    text-align: center; }
  .documentation__article__item p {
    color: #111a21;
    text-align: center; }
  .documentation__article__item a {
    margin-top: 2em;
    color: #111a21;
    text-decoration: none;
    float: right; }

.contact__form {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.contact__form__title, .contact__location__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  color: #111a21; }

.contact__form__mail, .contact__form__text, .contact__form__message, .contact__form__dropdown {
  display: inline-block;
  width: 40%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 400; }

.contact__form__submit {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: #003E77; }

.contact__location, .contact__team {
  width: 80%;
  max-width: 1200px;
  margin: 2em auto;
  display: flex;
  flex-direction: row; }

.contact__location__item {
  margin-right: 4em; }

.contact__location__address {
  margin: 0; }

.contact__location__mail, .contact__team__mail {
  font-weight: bold;
  color: #003E77; }

.contact__team {
  justify-content: space-between;
  margin: 4em auto; }

.contact__team__item {
  display: flex;
  flex-direction: row; }

.contact__team__details {
  margin-left: 1.5em; }
  .contact__team__details h3 {
    color: #111a21;
    margin-top: 0;
    margin-bottom: 0; }
  .contact__team__details p {
    margin-top: 0; }

body {
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: #43AADA;
  font-family: 'roboto'; }

.wrapper {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 80%;
  max-width: 1600px;
  height: 100%; }

p {
  font-family: 'Nunito';
  font-size: 17px;
  line-height: 25px; }

.grid {
  display: flex; }

.button {
  display: inline-block;
  padding: 12px 20px;
  border: 2px solid #003E77;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #003E77; }

.button--ghost {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  color: white;
  border: 2px solid white; }

/*# sourceMappingURL=style.css.map */
