.courses__content::before {
  display: block;
  height: 3.5em;
  width: 3.5em;
  right: 0;
  position: absolute;
  background-size: contain;
  background-position: center;
  content:'';
  background-image: url(../images/haak-boven.jpg);
  background-image: url(../images/haak-boven.svg), none;
}
.courses__content {
  position: relative;
	display: block;
	margin: 3em auto 3em;
  padding: 50px;
	width: 80%;
	max-width: 1600px;
	height: 100%;
}
.courses__content::after {
  display: block;
  height: 3.5em;
  width: 3.5em;
  left: 0;
  bottom: 0;
  position: absolute;
  background-size: contain;
  background-position: center;
  content:'';
  background-image: url(../images/haak-onder.jpg);
  background-image: url(../images/haak-onder.svg), none;
}

.courses__sidebar
{
	width: 20%;
	margin:.5em 0em;
}

.courses__sidebar ul
{
	list-style: none;
	padding: 0;
}

.courses__sidebar ul li a
{
	@include primary_font(1.1rem, 400);
	padding: 20px;
	color: gray;
	border-bottom: 1px solid black;
	text-decoration: none;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.courses__sidebar__active
{
	color: $curiousblue !important;
}

.courses__intro {
  display: flex;
  justify-content: space-between;
}
.courses__intro__text {
  width:70%;
  padding: 50px;
}
