.footer
{
	width: 100%;
	background-color: $regalblue;
	padding-top: 50px;
	padding-bottom: 50px;
}

.footer__grid__col
{
	width: 33.3%;
	color: white;
}

.footer__grid__col__title
{
	font-size: 1.4rem;
}