.footer
{
	width: 100%;
	background-color: $regalblue;
	padding-top: 50px;
	padding-bottom: 50px;
}
.footer .button {
	background-color: transparent !important;
	color: white;
	border: 2px solid white;
	text-decoration: none;
	&:hover {
		color: $regalblue !important;
		background-color: white !important;
		text-decoration: none;
	}
}
.footer__grid__col
{
	width: 33.3%;
	color: white;
}

.footer__grid__col__title
{
	@include primary_font(1.3rem, 700);
	margin-bottom: 20px;
}

.footer__grid__col ul
{
	list-style: none;
	padding: 0;
}

.footer__grid__col ul li, .footer__grid__col ul li a
{
	@include primary_font(1.0rem, 500);
	margin-bottom: 15px;
	display: block;
	color: #8D9EB0;
	text-decoration: none !important;
	&:hover {
		text-decoration: underline;
	}
}


.footer__grid__col--big
{
	text-align: right;
}

.footer__bottom
{
	justify-content: space-between;
	align-items: center;
}

.footer__bottom__content
{
	color: white;
	@include primary_font(0.8rem, 500);
	margin-top: 30px;
	a {
		color: #8D9EB0;
		text-decoration: none !important;
		&:hover {
			text-decoration: underline;
		}
	}
}

.footer__bottom__kuleuven
{
	height: 30px;
	margin-left: 20px;
}

footer a,
.footer__grid__col ul li a,
.footer__bottom__content ul li a
{
	color: #8D9EB0;
	text-decoration: none !important;
}

header .header__subnavigation a:hover,
header .header__subnavigation a:active,
header .header__subnavigation a:focus,
footer a:hover,
footer a:focus,
footer a:active,
.footer__grid__col ul li a:hover,
.footer__grid__col ul li a:focus,
.footer__grid__col ul li a:active,
.footer__bottom__content ul li a:hover,
.footer__bottom__content ul li a:focus,
.footer__bottom__content ul li a:active
{
	text-decoration: underline !important;
}

header a:hover,
header a:focus,
header a:active{
	text-decoration: none !important;
}

a.button, footer a.button, footer a.button--ghost{
	text-decoration: none !important;
}


@media screen and (max-width: 768px)
{
	.footer__grid
	{
		flex-wrap: wrap;
	}

	.footer__grid__col
	{
		width: 100%;
	}

	.footer__grid__col__title
	{
		margin-top: 30px;
		display: block;
	}

	.footer__grid__col--faq
	{
		display: none;
	}

	.footer .button
	{
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.footer__bottom__content
	{
		display: none;
	}

	.footer__bottom__kuleuven
	{
		margin-top: 20px;
	}

	.footer__up
	{
		display: block;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		width: 50px;
		height: 50px;
		padding: 0 !important;
		background-image: url(../images/up.svg);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
	}
}
