.header
{
	width: 100%;
	background-color: white;
	margin: 0;
	position: relative;
}

.header__logo
{
	width: 140px;
	height: 60px;
	background-image: url(../images/lcie.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px;
}

.header__subnavigation
{
	width: 100%;
	margin-top: 20px;
}

.header__subnavigation ul
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0;
	margin: 0;
	list-style: none;
	width: 100%;
	text-align: right;
}

.header__subnavigation ul li
{
	display: inline-block;
	padding: 3px 20px;
	@include primary_font(0.8rem, 700);
	color: #b5bac1;
}

.header__navigation
{
	width: 70%;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: right;
}

.header__navigation ul
{
	padding-bottom: 20px;
	padding-left: 0;
	margin: 0;
	list-style: none;
}

.header__navigation ul li
{
	display: inline-block;
	padding: 10px 20px;
	@include primary_font(1.0rem, 700);
	color: $regalblue;
}

.header__navigation__apply-container
{
	padding: 0 !important;
	margin-left: 20px;
}

.header__navigation__apply
{
	padding: 10px 20px !important;
}