.offerings__top
{
	width: 100%;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: $regalblue;
}

.offerings__top__title
{
	@include primary_font(3.6rem, 500);
	color: white;
	margin-bottom: 0;
}

.offerings__top__subtitle
{
	@include primary_font(1.8rem, 400);
	color: white;
}

/* Sidebar */
.offerings__sidebar
{
	width: 20%;
	margin-right: 5%;
}

.offerings__sidebar ul
{
	list-style: none;
	padding: 0;
}

.offerings__sidebar ul li a
{
	@include primary_font(1.1rem, 400);
	padding: 20px;
	color: gray;
	border-bottom: 1px solid black;
	text-decoration: none;
	width: 100%;
	display: block;
	box-sizing: border-box;
}
.offerings__sidebar ul li:last-child {
	a {
		border-bottom: none;
	}
}

.offerings__sidebar__active
{
	@include primary_font(1.1rem, 400);
	padding: 20px;
	color: $curiousblue;
	border-bottom: 1px solid black;
	text-decoration: none;
	width: 100%;
	display: block;
	box-sizing: border-box;
}

.offerings__container .wrapper
{
	display: flex;
	margin-top: 100px;
}

.offerings__content
{
	padding-left: 100px;
	box-sizing: border-box;
	width: 70%;
}



.offerings__who
{
	width: 100%;
	margin-top: 100px;
	margin-bottom: 100px;
}

.offerings__who__grid
{
	width: 100%;
}

.offerings__who__grid__col
{
	width: 25%;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	@include primary_font(1.5rem, 500);
	border-right: 8px solid white;
	position: relative;
	background-size: cover;
	background-position: center;
	display: block;

	a
	{
		color: white;
		text-decoration: none;
		position: relative;
		z-index: 999;
	}
}

.offerings__who__grid__col:last-child
{
	border: none;
}

.offerings__who__grid__col__overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}



.offerings__subsites__grid__col
{
	width: 25%;
	flex-grow: 1;
	padding-top: 150px;
	padding-bottom: 150px;
	padding-right: 40px;
	padding-left: 40px;
	box-sizing: border-box;
	background-color: red;
	background-size: cover;
	background-position: center;
	text-align: center;
	position: relative;
}

.offerings__subsites__grid__col__title
{
	@include primary_font(1.6rem, 400);
	color: white;
	position: relative;
	z-index: 999;
}

.offerings__subsites__grid__col__description
{
	@include primary_font(1.0rem, 400);
	color: white;
	position: relative;
	z-index: 999;
}


.offerings__subsites__grid__col__more
{
	@include primary_font(1.1rem, 400);
	color: white;
	text-decoration: none;
	position: absolute;
	bottom: 40px;
	right: 40px;
	z-index: 999;
}

.offerings__subsites__grid__col__overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}




.offerings__team
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.offerings__team__grid
{
	width: 100%;
	margin-top: 40px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.offerings__team__grid__col
{
	width: 30%;
	flex-grow: 1;
	min-width: 500px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.offerings__team__grid__col__photo
{
	width: 50%;
	max-width: 200px;
	background-size: cover;
	background-position: center;
}

.offerings__team__grid__col__photo:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.offerings__team__grid__col__details
{
	margin-left: 60px;
	height: 200px;
	position: relative;
}

.offerings__team__grid__col__details__name
{
	display: block;
	@include primary_font(1.6rem, 400);
	color: $curiousblue;
}

.offerings__team__grid__col__details__function
{
	display: block;
	@include primary_font(1.4rem, 400);
	color: $dovegray;
	margin-top: 10px;
}

.offerings__team__grid__col__details__contact
{
	position: absolute;
	bottom: 0;
	left: 0;
}

.offerings__team__grid__col__details__contact__mail
{
	@include secondary_font(1.0rem, 400);
	color: $dovegray;
	text-decoration: none;
}

.offerings__team__grid__col__details__contact__social
{
	margin-top: 20px;
}

.offerings__team__grid__col__details__contact__social__icon
{
	width: 30px;
	height: 30px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	margin-right: 10px;
	opacity: 0.8;
}

.offerings__team__grid__col__details__contact__social__icon:hover
{
	opacity: 1;
}

.offerings__team__grid__col__details__contact__social__icon--twitter
{
	background-image: url(../images/twitter.png);
	background-size: 30px;
}

.offerings__team__grid__col__details__contact__social__icon--linkedin
{
	background-image: url(../images/linkedin.png);
	background-size: 30px;
}

.offerings__content-block
{
	padding-top: 100px;
	padding-bottom: 100px;

	p, span
	{
		@include secondary_font(1.0rem, 400);
	}

	img
	{
		max-width: 100%;
	}
}


.offerings__infrastructure
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.offerings__infrastructure__grid__col__image
{
	width: 100%;
	height: auto;
}



.marker-title
{
	@include primary_font(1.3rem, 700);
	margin-left: 20px;
}

.marker-address
{
	@include secondary_font(0.9rem, 400);
	color: $dovegray;
	margin-left: 20px;
}

.marker-img
{
	width: 150px;
	margin-right: 15px;
}

.marker-col
{
	width: 150px;
	display: flex;
	align-items: center;
}


.offerings__infrastructure__text, .offerings__team__text
{
	@include secondary_font(1.0rem, 400);
	width: 100%;
	max-width: 900px;
	margin-top: 20px;
	margin-bottom: 60px;
}

.offerings__infrastructure__map
{
	width: 100%;
	height: 500px;
}

.offerings__infrastructure__grid
{
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
	margin-top: 80px;
}

.offerings__infrastructure__grid__col
{
	position: relative;
	width: 30%;
	padding: 50px;
	box-sizing: border-box;
}

.offerings__infrastructure__grid__col__title
{
	@include primary_font(2.0rem, 400);
	color: $regalblue;
}

.offerings__infrastructure__grid__col__plan
{
	@include primary_font(1.0rem, 400);
}

.offerings__infrastructure__grid__col__hook-up, .offerings__infrastructure__grid__col__hook-under
{
	height: 40px !important;
	width: 40px !important;
}

.offerings__infrastructure__grid__col__hook-up path, .offerings__infrastructure__grid__col__hook-under path
{
	fill: $curiousblue;
}
.offerings__sidebar ul li a, a.offerings__infrastructure__grid__col__plan {
	text-decoration: none;
	color: $regalblue;
	font-weight: bold;
}


@media screen and (max-width: 768px)
{

	.offerings__sidebar
	{
		width: 100%;
		margin-right: 0;
	}

	.offerings__container .wrapper
	{
		display: block;
	}

	.offerings__content
	{
		padding-left: 0;
		width: 100%;
		margin-top: 70px;

		p, span
		{
			@include secondary_font(1.0rem, 400);
		}
	}


	.offerings__who__grid__col
	{
		width: 100%;
		border-right: none;
		border-bottom: 8px solid white;
	}

	.offerings__who__grid__col:last-child
	{
		border: none;
	}


	.offerings__subsites__grid__col
	{
		width: 100%;
	}

	.offerings__team__grid__col
	{
		width: 100%;
		min-width: auto;
		max-width: auto;
	}

	.offerings__team__grid__col__photo
	{
		width: 80%;
		max-width: 80%;
		margin-left: 10%;
	}

	.offerings__team__grid__col__details
	{
		margin-left: 0;
		height: auto;
		width: 100%;
		text-align: center;
		position: relative;
		margin-top: 40px;
		margin-bottom: 80px;
	}

	.offerings__team__grid__col__details__contact
	{
		position: relative;
		margin-top: 30px;
	}

	.offerings__infrastructure__grid__col
	{
		width: 100%;
	}

}
