article.search__results__result {
	width: 75%;
}
.search__form
{
	display: flex;
}

.search__results__title
{
	@include primary_font(2.2rem, 400);
	color: $regalblue;
	margin-top: 50px;
	margin-bottom: 20px;
}

.search__results__count
{
	@include primary_font(1.2rem, 400);
	color: $dovegray;
	margin-bottom: 40px;
}

.search__results__result
{
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid gray;
}

.search__results__result__type
{
	@include primary_font(1.2rem, 500);
	color: $dovegray;
	margin-bottom: 15px;
}

.search__results__result__title
{
	@include primary_font(1.6rem, 300);
	color: $regalblue;
	margin-bottom: 15px;
	display: block;
	text-decoration: none;
}

.search__results__result__date
{
	@include secondary_font(1.0rem, 700);
}

.search__form input{
	max-width: 500px !important;
}

.search__form__input
{
	width: calc(100% - 100px);
	font-size: 1.1rem;
	display: inline-block;
	padding: 10px 20px;
	box-sizing: border-box;
	margin: 0;
	border: 2px solid $regalblue;
}

.search__form__button
{
	width: 64px;
	height: 50px;
	background-color: $regalblue;
	display: inline-block;
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	box-shadow: none;
	border: none;
	background-image: url(../images/sub_search.png);
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 32px;
	background-size: 32px;
	cursor: pointer;
}
