.teams__content
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.teams__content__grid
{
	width: 100%;
}

.teams__content__grid__col
{
	width: 50%;
	margin-top: 50px;
	margin-bottom: 50px;
}

// .teams__content__grid__col:nth-child(odd)
// {
// 	display: flex;
// 	align-items: center;
// }

.teams__content__grid__col__image
{
	width: 60%;
	max-width: 300px;
	max-height: 200px;
	display: block;
}

.teams__content__grid__col__more
{
	@include primary_font(1.0rem, 400);
	color: $dovegray;
	width: 100%;
	text-align: right;
	display: block;
	margin-top: 40px;
}

.teams__pastprojects
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.teams__pastprojects__expand
{
	@include secondary_font(2.2rem, 400);
	color: $curiousblue;
	text-decoration: none;
	position: relative;
}

.teams__pastprojects__expand:after
{
	content: '';
	position: absolute;
	right: -60px;
	bottom: -4px;
	width: 50px;
	height: 50px;
	background-image: url(../dist/images/arrow_down.png);
	background-size: 50px;
	background-position: center;
	background-repeat: no-repeat;
}

.teams__pastprojects__expand--expanded:after
{
	background-image: url(../dist/images/arrow_up.png);
}

.teams__pastprojects__expand:hover
{
	text-decoration: underline;
}

.teams__pastprojects__year
{
	@include primary_font(2.0rem, 400);
	color: $curiousblue;
	margin-top: 70px;
	margin-bottom: 40px;
}

.teams__pastprojects__grid
{
	width: 100%;
}

.teams__pastprojects__grid__col
{
	width: 25%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.teams__pastprojects__grid__col__logo
{
	width: 100%;
}


/* TEAM DETAIL */

.team__top
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.team__top__photo
{
	flex-grow: 1;
}

.team__top__photo__image
{
	width: 60%;
}

.team__top__allteams
{
	width: 250px;
	height: 400px;
}

.team__top__allteams__item
{
	display: block;
	width: 100%;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	text-indent: 9999px;
	padding-bottom: 7px;
	padding-top: 7px;
	text-decoration: none;
	transition: all 0.1s ease-in-out;
}

.team__top__allteams__item--active
{
	text-indent: 0px;
	@include primary_font(1.4rem, 400);
	color: $curiousblue;
	transition: all 0.1s ease-in-out;
}

.team__top__allteams__item--active:after
{
	width: 100% !important;
	transition: all 0.1s ease-in-out;
}

.team__top__allteams__item:after
{
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 2px;
	background-color: $dovegray;
	transition: all 0.1s ease-in-out;
}

.team__info__logo
{
	width: 30%;
}

.team__info
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.team__info__logo__image
{
	width: 70%;
}

.team__info__text
{
	width: 50%;
	margin-left: 20%;
}

.team__info__text__social
{
	margin-top: 40px;
	display: flex;
}

.team__info__text__social__item
{
	width: 40px;
	height: 40px;
	margin-right: 20px;
	background-color: red;
}

.team__happenings
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.team__happenings h1
{
	margin-bottom: 50px;
}



.team__happenings__grid:nth-child(odd)
{
	flex-direction: row-reverse;
}

.team__happenings__grid__col
{
	width: 50%;
	padding: 50px;
	box-sizing: border-box;
	position: relative;
}

.team__happenings__grid__col__title
{
	@include primary_font(1.6rem, 300);
	color: $curiousblue;
}

.team__happenings__grid__col--image
{
	height: 400px;
	background-color: black;
}

.team__happenings__grid__col--image__overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.6;
}


@media screen and (max-width: 768px)
{

	.teams__content__grid__col
	{
		width: 100%;
	}

	.teams__pastprojects__grid__col
	{
		width: 50%;
	}


	/* TEAM DETAIL */

	.team__top__photo
	{
		width: 100%;
	}

	.team__top__photo__image
	{
		width: 100%;
	}

	.team__top__allteams
	{
		display: none;
	}

	.team__info__logo
	{
		width: 80%;
		margin-left: 10%;
		margin-bottom: 50px;
		margin-top: 60px;
	}

	.team__info__logo__image
	{
		width: 100%;
	}

	.team__info__text
	{
		width: 100%;
		margin: 0;
	}

	.team__happenings__grid__col
	{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.team__top .wrapper
	{
		width: 100%;
	}

	.team__top
	{
		margin-top: 0;
	}

	.teams__pastprojects__expand
	{
		@include primary_font(1.8rem, 400);
	}

	.teams__pastprojects__expand:after
	{
		background-size: 30px;
	}


}
