.who__content
{
	padding-top: 100px;
	padding-bottom: 100px;
}

.who__content__grid
{
	width: 100%;
	flex-wrap: wrap;
	margin-top: 40px;
}

.who__content__grid__col
{
	width: 50%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.who__content__grid__col__photo
{
	width: 150px;
	height: 150px;
	margin-right: 5%;
	background-size: cover;
	background-position: center;
	border-bottom: 10px solid black;
}

.who__content__grid__col__photo:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.who__content__grid__col__detail
{
	width: 55%;
}

.who__content__grid__col__detail__name
{
	@include primary_font(1.5rem, 300);
	color: $regalblue;
	display: block;
}

.who__content__grid__col__detail__email
{
	@include primary_font(1.1rem, 300);
	color: black;
	display: block;
	margin-top: 7px;
	text-decoration: none;
}

.who__content__grid__col__detail__function
{
	@include secondary_font(1rem, 300);
	color: black;
	display: block;
	line-height: 1.8;
	margin-top: 20px;
}

@media screen and (max-width: 768px)
{
	.who__content
	{
		padding-top: 0;
	}

	.who__content__grid__col
	{
		width: 100%;
		border-bottom: 1px solid gray;
		padding-bottom: 50px;
		padding-top: 30px;
		margin-top: 0;
		margin-bottom: 0;
	}

	.who__content__grid__col .grid
	{
		display: block;
		text-align: center;
	}

	.who__content__grid__col__photo
	{
		margin: 20px auto;
		display: block;
	}

	.who__content__grid__col__detail
	{
		width: 100%;
	}

}
