.documentation__nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 2em auto 4em auto;
}
.documentation__nav__item {
  display: inline-block;
	padding: 12px 20px;
	border: 2px solid $regalblue;
  color: $regalblue;
	text-decoration: none;
	@include primary_font(1.0rem, 700);
  text-align: center;
  width: 17%;
}
.documentation__nav__item__active {
  color: white;
  background-color: $regalblue
}
.documentation__article__grid {
  display: flex;
  flex: 1 100%;
  flex-direction: row;
  width: 100%;
  margin: 2em auto;
  flex-wrap: wrap;
}
.documentation__article__item{
  margin-bottom: 3em;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(25% - 20px);
  height: 250px;
  display: inline-block;
  box-sizing: border-box;
	padding: 12px 20px;
	border: 2px solid $regalblue;
	text-decoration: none;
	@include primary_font(1.0rem, 700);
  position: relative;
	color: $regalblue;
  h2 {
    color: $regalblue;
    text-align: center;
  }
  p {
    color: $bunker;
    text-align: center;
  }
  a {
    margin-top: 2em;
    color: $bunker;
    text-decoration: none;
    float: right;
    position: absolute;
    bottom: 15px;
    right: 15px;
  }
}

.documentation__article__item:nth-child(4n + 1){
  margin-left: 0;
  width: calc(25% - 10px);
}

.documentation__article__item:nth-child(4n){
  margin-right: 0;
  width: calc(25% - 10px);
}

.documentation__article__grid__loading
{
  height: 50px;
  width: 50px;
  background-image: url(../images/loading.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 30px auto;
}



@media screen and (max-width: 768px)
{
  .documentation__nav, .documentation__article__grid
  {
    display: block;
  }

  .documentation__nav__item
  {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .documentation__article__item
  {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0;
    margin-right: 0;
  }

  .documentation__article__item:nth-child(4n + 1){
  width: 100%;
}

.documentation__article__item:nth-child(4n){
  width: 100%;
}

}
