.faq__content
{
	margin-top: 100px;
	margin-bottom: 100px;
}

.faq__content__category
{
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-bottom: 70px;
	padding-left: 30px;
	padding-right: 30px;
}

.faq__content__category__hook-up, .faq__content__category__hook-under
{
	width: 40px !important;
	height: 40px !important;
}

.faq__content__category__hook-up path, .faq__content__category__hook-under path
{
	fill: $regalblue;
}

.faq__content__item
{
	padding-top: 30px;
	padding-bottom: 30px;
}

.faq__content__item__title
{
	@include primary_font(1.4rem, 300);
	color: $regalblue;
}