.offer__content
{
	padding-top: 100px;
	padding-bottom: 100px;
	position: relative;
}

.offer__content__inner
{
	padding-top: 50px;
	padding-bottom: 100px;
}

.offer__content__inner h1
{
	color: black !important;
	@include primary_font(1.8rem, 700);
	margin-top: 50px;
	display: block;
}